.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: beige;
    h3:hover{
        cursor: grab;
    }
    .controls{
        display: flex;
        gap: 3px;
        svg{
            transition: .5s;
        }
        svg:hover{
            cursor: pointer;
            color: darkcyan;
        }
    }
}